/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
}

/* Sidebar Styles */
.sidebar {
    position: fixed; /* Fixed position to keep it always visible */
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    padding: 16px;
    color: #fff;
    background: #1B4D3E;
    overflow: hidden;
    transition: width 0.5s ease;
    z-index: 1000; /* Ensure it's above other content */
}

.sidebar:hover {
    width: 240px;
    transition: width 0.5s ease;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 1rem;
    margin-bottom: 8px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.menu li:hover,
.active {
    background: rgba(224, 224, 224, 0.35);
}

.menu a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a i {
    font-size: 1.2rem;
}

/* main body section */
.main-content {
    background: #ebe9e9;
    padding: 2rem;
    margin: 2rem 2rem 2rem 240px; /* Added left margin to avoid overlap with sidebar */
}

.header-wrapper {
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile img {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.header-title {
    color: #1B4D3E;
    font-size: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
}

.card-wrapper {
    background-color: #f9f9f9;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    margin-bottom: 15px;
    line-height: 1.5;
}

/* Employee Management Styles */
.employee-info {
    margin-top: 20px;
}

.employee-info table {
    width: 100%; /* Ensure the table takes up the full width */
    border-collapse: collapse; /* Collapse borders */
}

.employee-info th, .employee-info td {
    border: 1px solid #ccc; /* Add border to table cells */
    padding: 10px; /* Add padding for better spacing */
}

.employee-info th {
    background-color: #1B4D3E; /* Optional: Add background color to table header */
    color: #fff; /* Optional: Add text color to table header */
}

/* Reporting and Analytics Styles */
.reporting-analytics {
    margin-top: 20px;
}
  

